<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <img src="images/imagename.jpg" alt="">

  <section>
    <h1>Names</h1>

    <%= name %>


    <ul>
      <% for (const name of names) { %>

      <li>
        <%= name %>
      </li>
      <% } %>
    </ul>


    <%= name %>

  </section>
</body>

</html>
